/* Ensure to import this Home.css file in your Home component */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  background-color: #141414;
  color: #ffffff;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.podcast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: white;
  height: 400px;
  width: 80%;
  max-width: 800px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  text-align: center;
}

.podcast-card:hover {
  transform: scale(1.05);
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.podcast-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}

.podcast-info {
  text-align: center;
  padding: 20px;
}

.podcast-info h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #ff9800;
}

.podcast-description {
  margin: 10px 0;
  font-size: 1rem;
  color: #ccc;
}

.podcast-details {
  font-size: 0.1rem;
  color: #aaa;
}

.podcast-link {
  text-decoration: none;
  color: inherit;
}

.find-podcast-btn {
  background-color: orange;
  border: none;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background: #fff;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
